/* purgecss start ignore */
//* Миксин шрифта

adaptiv_font($pcSize, $mobSize)
	font-size: "%spx" % ($pcSize)
	@media mqPhone
		font-size: "%spx" % ($mobSize)

adaptiv_title($pcSize, $tablSize, $mobSize)
	font-size: "%spx" % ($pcSize)
	@media mqTablet
		font-size: "%spx" % ($tablSize)
	@media mqPhone
		font-size: "%spx" % ($mobSize)

adaptiv_lh($pcSize, $tablSize, $mobSize)
	line-height: "%spx" % ($pcSize)
	@media mqTablet
		line-height:  "%spx" % ($tablSize)
	@media mqPhone
		line-height:  "%spx" % ($mobSize)

//* Миксин медиа

$big = 1980px
$tablet = 1240px
$mobile = 767px
$mob = 414px

mqTablet = "only screen and (max-width: " + $tablet + ")"
mqPhone  = "only screen and (max-width: " + $mobile + ")"
mqMob  = "only screen and (max-width: " + $mob + ")"


//* Миксин before after
pseudo($display = block,$content = '')
	content $content
	display $display


//* Миксин скрыть посвдетку элементов
outline-hide()
	-webkit-tap-highlight-color: rgba(0,0,0,0)



btn($topBottom = 20px, $leftRight = 75px)
	border none
	background: var(--main)
	border-radius: 10px
	color: var(--lbg)
	text-align center
	padding $topBottom $leftRight
	cursor pointer
	font-size: 16px
	line-height 20px
	font-weight 800
	display block
	margin 0 auto
	@media mqTablet
		width 100%
		max-width 414px
		padding 20px 25px
	&:hover
		opacity 0.8
	&:disabled
		background: #EBEFF5
		color: #94A3B7
		font-weight normal
		font-size: 14px
		cursor: not-allowed
		line-height 20px
		&:hover
			opacity 1


input()
	padding 25px 20px 20px 20px
	box-sizing border-box
	border: 1px solid var(--border)
	border-radius: 10px
	width 100%
	height 60px
	background: transparent
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	transition: .2s
	font-size: 14px
	line-height 20px
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button 
		display: none
		-webkit-appearance none
		margin 0
	&:focus ~ .label
		transform: translateY(-15px)
		font-size: 12px
		line-height 16px




textarea()
	input()
	color: var(--text)
	resize: none
	min-height 130px
	vertical-align top

info($left = 0)
	position absolute
	background: var(--mywhite)
	bottom 0
	transform: translate(-1px,-35px)
	left $left
	padding 20px
	border-radius: 10px
	font-size: 16px
	line-height: 24px
	color: rgba(41, 48, 82, 0.6)
	z-index 1
	max-width 350px
	min-width 350px
	font-weight 400
	transition: .2s
	opacity 0
	visibility hidden
	box-shadow: 0px 0px 14px rgba(39, 39, 39, 0.2)
	@media mqPhone
		font-size: 14px
		line-height 20px
		max-width none
		min-width 100%
		width calc(100vw - 58px)
	&:before
		position absolute
		border: solid transparent
		content: " "
		width 8px
		height 8px
		background: var(--mywhite)
		bottom 0
		transform: translateY(8px) rotate(-135deg)


grid_layout($item = 1, $gap = 10px)
	display grid
	grid-template-columns repeat($item, 1fr)
	grid-gap $gap


loading()
	position absolute
	content: ''
	background-color: rgba(0,0,0 0.6)
	width 100%
	height 100%
	background-image url('/img/preloader.svg')
	z-index 1
	background-repeat no-repeat
	background-position center
	top 0
	left 0
	right 0
	bottom 0




/* purgecss end ignore */