// ? цвета
/* purgecss start ignore */
:root 
	--text: #344861
	--ltext: #6E7C8C
	--label: #94A3B7
	--main: #0072E3
	--bg:#EBEFF5
	--lbg: #fff
	--border: #BEC6D4
	--over: #E5EBF2
	--mob_bg: #ECECEC
	--light rgba(102, 60, 229, 0.1)
	--alarm: #F17AA5
	--mywhite: #fff
/* purgecss end ignore */