<header class="header">
	<div class="wrap">
		<div class="header__box">
			<a href="/" class="header__logo">
				<svg class="icon" width="126" height="16">
					<use xlink:href="/img/sprite.svg#logo"></use>
				</svg>
			</a>
			<div class="header__item">
				<span>Тех.поддержка —</span>
				<a href="https://t.me/just_work_support" class="header__link"
					target="_blank">
					Telegram
				</a>
			</div>
			<button class="header__exit">
				Выйти
			</button>
		</div>
	</div>
</header>