<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/reg.css" />
<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="/css/page-list.css" />

<!--? ------------->
<!-- <link rel="stylesheet" href="/css/build.css" /> -->
<!--? Для вертски-->