.header
	background: transparent
	padding-top 24px
	padding-bottom 24px
	height 60px
	position relative
	border-bottom 1px solid rgba(190, 198, 212, 0.5);
	@media mqPhone
		height auto
		padding-top 16px
		transition: .3s
		border: none
		padding-bottom 0

	&__box
		display flex
		align-items center
		@media mqPhone
			display grid
			grid-template-columns: 1fr 1fr
			grid-row-gap 20px
		&-info
			font-size: 12px
			line-height: 14px
			font-weight normal
			font-style: italic
			color: var(--text)
			opacity: 0.5
			@media mqPhone
				display none

	&__logo
		margin-right auto
		@media mqPhone
			grid-column 1/3
			& .icon
					width 158px
					height 20px
	&__exit
		font-size: 14px
		line-height 18px
		color: var(--ltext)
		align-self center
		font-weight 600
		@media mqPhone
			margin-left auto

	&__item
		display flex
		align-items center
		
		color: var(--ltext)
		font-weight 600
		font-size: 14px
		line-height 18px
		gap: 4px
		margin-right 40px
		@media mqPhone
			margin 0
		& span
			flex-shrink: 0

