*
	box-sizing border-box

html
	outline-hide()

body
	margin: 0
	padding: 0
	font-family: "Inter", sans-serif
	font-size: 16px
	line-height: 24px
	min-width: 360px
	background-color: var(--bg)
	position: relative
	color: var(--text)
	min-height 100vh
	display: flex
	flex-direction: column

a
	text-decoration: none
	color: var(--main)
	transition .2s


strong
	color var(--bg)

button
	transition: .2s
	padding 0
	border: 0
	background: transparent
	&:focus
		outline: none
		
input
	input()
	
select
	input()
	padding 20px 20px 10px 20px
	overflow hidden
	text-overflow: ellipsis
	&:focus
		outline: none

textarea::placeholder
	color: var(--label)

input,textarea 
	outline: none

img 
	display: block
	width: auto
	height: auto
	max-width 100%

h1
	margin 0
	adaptiv_title(54, 40, 24)
	adaptiv_lh(78, 50, 32)

h2
	margin 0
	adaptiv_title(42, 28, 20)
	adaptiv_lh(50, 36, 26)

h3
	margin 0
	adaptiv_title(32, 26, 18)
	adaptiv_lh(40, 34, 24)

h4
	margin 0
	adaptiv_title(28, 28, 20)
	adaptiv_lh(38, 38, 30)

h5
	margin 0
	adaptiv_title(18, 18, 15)
	adaptiv_lh(26, 26, 22)

h6
	margin 0
	adaptiv_title(20, 20, 18)
	adaptiv_lh(30, 30, 30)

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
	-webkit-text-fill-color: #6e7c8c
	-webkit-box-shadow: 0 0 0px 1000px transparent inset
	transition: background-color 5000s ease-in-out 0s
	background: -webkit-linear-gradient(top,  
	rgba(255,255,255,0) 0%,
	rgba(0,174,255,0.04) 50%,
	rgba(255,255,255,0) 51%,
	rgba(0,174,255,0.03) 100%) 

	// *---------------------


.main
	flex-grow 1
	z-index 2
	margin-top 30px



.wrap
	max-width 1080px
	box-sizing: content-box
	margin 0 auto
	padding 0 10px
	@media mqTablet
		padding 0 40px
	@media mqPhone
		padding 0 10px

.preload *
	-webkit-transition: none !important
	-moz-transition: none !important
	-ms-transition: none !important
	-o-transition: none !important
	transition: none !important

.locked
	overflow hidden


.preloader
	position absolute
	background: rgba(255,255,255 0.8)
	display flex
	align-items center
	justify-content center
	top 0
	left 0
	right 0
	bottom 0 
	z-index 2
	border-radius: 20px
	display none
	&.show
		display flex
	& img
			width 100px
			height 100px
			@media mqPhone
				width 60px
				height 60px
				position fixed
				top 50%
				left 50%
				transform: translate(-50%, -50%)


.field
	position relative
	&.active
		& input
				border-radius: 12px 12px 0px 0px
				@media mqPhone
					border-radius: 12px

	&.error
		& input
				border-color: var(--alarm)
		& .label
				color	var(--alarm)
		& .error-text
				color: var(--alarm)
				margin-top 6px
				font-weight 600
				padding-left 20px
				font-size: 12px
				line-height 16px

	.label
		position absolute
		top 20px
		left 20px
		transition: .2s
		color: var(--label)
		font-size: 14px
		line-height 18px
		pointer-events: none
		&.active
			transform: translateY(-15px)
			font-size: 12px
			line-height 16px			
	
	&__info
		color: #A1A5B2
		margin-top 6px
		padding-left 16px
		font-weight normal
	
	& .icon
			position absolute
			right 20px
			top 18px
	& .copy
			position absolute
			right 20px
			top 18px
			cursor pointer
			&:hover
				opacity .8
	& .icon-drop
			position absolute
			top 20px
			right 20px
			pointer-events: none
			

.loader__wrap
	background: var(--lbg)
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	z-index: 2
.loader
	position: absolute
	top: calc(50% - 20px)
	left: calc(50% - 20px)

	.shadow
		width: 50px
		height: 5px
		background: #000
		opacity: 0.1
		position: absolute
		top: 59px
		left: 0
		border-radius: 50%
		animation: shadow .5s linear infinite

	.box 
		width: 50px
		height: 50px
		background: var(--main)
		animation: animate .5s linear infinite
		position: absolute
		top: 0
		left: 0
		border-radius: 3px	

@keyframes loader 
	0%  
		left: -100px 
	100%  
		left: 110%

@keyframes animate
	17%
		border-bottom-right-radius 3px
	25%
		transform: translateY(9px) rotate(22.5deg)
	50%
		transform: translateY(18px) scale(1.9) rotate(45deg)
		border-bottom-right-radius: 40px;
	75%
		transform: translateY(9px) rotate(67.5deg)
	100%
		transform: translateY(0) rotate(90deg)

@keyframes shadow
	50%
		transform: scale(1.2,1)
