@import "../utils/mixins.styl";

.dashboard
	display grid
	grid-template-columns: 1fr 344px
	grid-gap 24px
	margin-bottom 100px
	@media mqTablet
		grid-template-columns: 1fr
		grid-gap 20px
	&__item
		border: 1px solid #E5EBF2
		border-radius: 24px
		background: var(--lbg)
		padding 30px 40px
		align-self start
		&.--create
			grid-column: 1/3
			@media mqTablet
				grid-column auto
				order: -1
		@media mqTablet
			padding 30px 20px
		&.--first
			grid-column: 1/2
			@media mqTablet
				grid-column auto
		&.--sidebar
			grid-row 2/4
			grid-column: 2/3
			@media mqTablet
				grid-column auto
				grid-row auto

		& .my-select
			@media mqTablet
				margin-bottom 30px
		& .gray-field
				input()
				background: #EBEFF5
				border-color: #EBEFF5
		&-wrap
			display grid
			grid-template-columns: 1fr 264px
			grid-gap 60px
			@media mqTablet
				display block

		&-title
			font-weight: 800
			font-size: 20px
			line-height: 24px
			margin-bottom 20px

		&-text
			color: #6E7C8C
			margin-bottom 20px
			& span
				color: var(--text)

		& ol
			margin 0
			padding 0
			list-style: none
			counter-reset item
			& li
				padding-left 30px
				margin-bottom 20px
				position relative
				color: #6E7C8C
				word-break: break-word
				&:last-child
					margin 0
				& span
					color: var(--text)
				& mark
					background: var(--main)
					color: var(--lbg)
					padding 2px 4px
					border-radius: 2px
					cursor default
					&::selection
						background: var(--ltext)
				&:before
					content: counter(item)'.'
					counter-increment item
					position absolute
					left 0
					line-height 24px
					color: var(--text)
					font-weight bold
					display block
					@media mqTablet
						left 0
		&-link
			display block
			margin-bottom 20px
			&:last-child
				margin 0

	// &__create
	// 	btn()
	// 	padding-left 40px
	// 	padding-right 40px
	// 	width 100%
	// 	@media mqTablet
	// 		margin-top 10px
		
	// &__faq
	// 	border-top 1px solid rgba(190, 198, 212, 0.5)
	// 	@media mqTablet
	// 		order: 1
	// 	&-item
	// 		padding 20px 0
	// 		border-bottom 1px solid rgba(190, 198, 212, 0.5)
	// 		&:last-child
	// 			border-bottom 0
	// 	&-hdr
	// 		display flex
	// 		align-items center		
	// 		gap: 20px
	// 		color: #6E7C8C
	// 		cursor pointer
	// 		&.active
	// 			& .icon
	// 					transform: rotate(180deg)
	// 		& .icon
	// 				transition: .2s
	// 	&-text
	// 		& ul
	// 			margin 0
	// 			padding 0
	// 			list-style: none
	// 			margin-top 16px
	// 			& li
	// 				padding-left 70px
	// 				margin-bottom 20px
	// 				position relative
	// 				color: #6E7C8C
	// 				&:last-child
	// 					margin 0
	// 				& span
	// 					color: var(--text)
	// 				& mark
	// 					background: var(--main)
	// 					color: var(--lbg)
	// 					padding 2px 4px
	// 					border-radius: 2px
	// 					cursor default
	// 					&::selection
	// 						background: var(--ltext) 
	// 				@media mqTablet
	// 					padding-left 75px
	// 				&:before
	// 					content: ''
	// 					position absolute
	// 					left 40px
	// 					color: var(--main)
	// 					font-weight bold
	// 					width 8px
	// 					height 8px
	// 					border-radius: 50%
	// 					background: var(--main)
	// 					display block
	// 					top 8px
	// 					@media mqTablet
	// 						left 45px
	// 					// @media mqTablet
	// 					// 	left 0

	&__users
		display flex
		flex-direction: column
		gap: 16px
		max-height 382px
		overflow-y: auto
		&::-webkit-scrollbar
			width 4px
		&::-webkit-scrollbar-track 
			background: rgba(46, 64, 87, 0.05)
			border-radius: 2px
			width 6px
		&::-webkit-scrollbar-thumb
			background: var(--text)
			border-radius: 10px
		&-item
			& .name
					font-size: 14px
					line-height 18px
					color: #94A3B7
			& .nick-name
					font-size: 14px
					line-height 18px
					margin-top 4px
