@import "../utils/mixins.styl";
	
.page-list
	display none
	@media screen and (min-width 1500px)
		display flex
		flex-direction: column
		padding 10px
		background-color: var(--bg)
	
		position fixed
		top 100px
		overflow-y: auto
		z-index 9999
		box-shadow: 0px 0px 22px rgba(68, 69, 69, 0.12)
		// font-size: 13px

		&-link
			margin-bottom 10px
			color: var(--text)
			&:last-child
				margin-bottom 0
