@import "../utils/mixins.styl";

.reg
	margin 60px 0
	@media mqTablet
		margin 0
		margin-bottom 40px
	&__logo
		margin auto
		display block
		margin-bottom 10px
	&__inform
		text-align center
		font-size: 14px
		line-height: 18px
		color: var(--ltext)
	&__main
		background: var(--lbg)
		border: 1px solid var(--over)
		box-sizing: border-box
		border-radius: 24px
		padding 40px 0
		margin 0 auto
		margin-top 40px
		position relative
		overflow hidden
		@media mqTablet
			margin-top 30px
			padding 30px 0
			border-radius: 16px
		&.step1
			max-width 528px
	&__title
		font-weight: 800
		font-size: 20px
		line-height: 24px
		color: var(--ltext)
		text-align center
		padding 0 60px
		@media mqTablet
			padding 0 20px
		& span
			color: var(--border)

	&__list
		margin-top 30px
		padding 0 60px
		@media mqTablet
			padding 0 20px
			margin-top 20px
		& .field
			margin-bottom 20px
			&:last-child
				margin 0
	&__confirm
		border-top 1px solid var(--over)
		margin-top 30px
		position relative
		padding 20px 60px 0 60px
		@media mqTablet
			padding-left 20px
			padding-right 20px
		&-text
			font-size: 14px
			line-height 20px
			margin-bottom 20px
			text-align center
		&-repeat
			btn()
			margin-top 20px
		&-none
			text-align center
			font-size: 14px
			line-height: 20px
			color: #94A3B7
			margin-top 16px
			@media mqTablet
				margin-top 20px
	&__action
		btn()
		margin-top 30px
		@media mqTablet
			margin-top 20px


	&__hdr
		border-bottom 1px solid var(--over)
		padding-bottom 30px
		margin-bottom 30px
		@media mqTablet
			padding-bottom 20px
			margin-bottom 20px

	&__box
		display grid
		grid-template-columns: 1fr 340px
		grid-gap 40px
		padding 0 60px
		@media mqTablet
			padding 0 20px
			// grid-template-columns: 1fr
			// grid-gap 20px
			display flex
			flex-direction: column
			gap: 20px


	&__info
		& p
			margin 0
			color: #6E7C8C
			margin-bottom 20px
			&:last-child
				margin 0
			&.support
				margin-top 20px
		& ul
			margin 0
			padding 0
			list-style: none
			margin-bottom 30px
			@media mqTablet
				margin-bottom 20px
			& li
				padding-left 40px
				margin-bottom 20px
				position relative
				color: #6E7C8C
				&:last-child
					margin 0
				& span
					color: var(--text)
				& mark
					background: var(--main)
					color: var(--lbg)
					padding 2px 4px
					border-radius: 2px
					cursor default
					&::selection
						background: var(--ltext)
		& ol
			margin 0
			padding 0
			list-style: none
			margin-bottom 30px
			counter-reset item
			@media mqTablet
				margin-bottom 20px
			& li
				padding-left 30px
				margin-bottom 20px
				position relative
				color: #6E7C8C
				word-break: break-word
				&:last-child
					margin 0
				& span
					color: var(--text)
				& mark
					background: var(--main)
					color: var(--lbg)
					padding 2px 4px
					border-radius: 2px
					cursor default
					&::selection
						background: var(--ltext)
				&:before
					content: counter(item)'.'
					counter-increment item
					position absolute
					left 0
					line-height 24px
					color: var(--text)
					font-weight bold
					display block
					@media mqTablet
						left 0				

	&__video
		// width 340px
		// height 192px
		border-radius: 10px
		overflow hidden
		aspect-ratio: 16/9
		& video
			width 100%
			height 100%
			// object-fit: cover
	
	&__instruction
		@media mqTablet
			order: -1
		& p
			margin 0
			text-align center
			color: #6E7C8C
			margin-top 5px
			
	&__footer
		border-top 1px solid var(--over)
		margin-top 30px
		@media mqTablet
			margin-top 20px


[v-cloak]
	opacity 0
	visibility hidden