<!DOCTYPE html>
<html lang="ru">

<head>
	//= template/head.html
	<title>Главная</title>
</head>
//= template/page-list.html

<body class="preload">
	<main class="main">
		<div class="wrap">
			<div class="reg v-reg" v-cloak>
				<svg class="reg__logo" width="220" height="28">
					<use xlink:href="/img/sprite.svg#logo"></use>
				</svg>
				<div class="reg__inform">регистрация в системе</div>

				<form class="reg__main step1" v-if="selected_step == 1">
					<div class="loader__wrap" v-if="loading">
						<div class="loader">
							<div class="shadow"></div>
							<div class="box"></div>
						</div>
					</div>

					<div class="reg__title">
						1 шаг <span>из 4.</span><br />
						Введите свои данные
					</div>
					<div class="reg__step">
						<div class="reg__list">
							<div class="field" v-for="field, key in form" :key="key"
								:class="{error: field.error}">
								<input type="text" v-model="field.value" :type="field.type"
									@focus="clearError(key), maskPhone(key, $event)" @input="maskPhone(key, $event)"
									@click="toEnd(key, $event)" />
								<label class="label" :class="{active: field.value != ''}">
									{{field.label}}
								</label>
								<div class="error-text" v-if="field.error">
									{{field.error}}
								</div>
								<svg class="icon" width="24" height="24" v-if="field.success">
									<use xlink:href="/img/sprite.svg#done"></use>
								</svg>
							</div>
						</div>
						<button class="reg__action" @click.prevent="confirmPhone">
							Подтвердить телефон
						</button>
						<div class="reg__confirm" v-if="confirm.open">
							<div class="reg__confirm-text">
								Мы отправили на номер телефона, указаный выше, смс с кодом
								подтверждения.
							</div>
							<div class="field" :class="{error: confirm.error}">
								<input type="text" ref="confirmField" v-model="confirm.value" pattern="\d*"
									@input="validationCodeConfirm" placeholder="_ _ _ _"
									:disabled="confirm.success" />
								<label class="label" :class="{active: confirm.value != ''}">
									Код подтверждения
								</label>
								<div class="error-text" v-if="confirm.error">
									{{confirm.error}}
								</div>
							</div>
							<button class="reg__confirm-repeat" disabled>
								Отправить повторно <span>через 8 с</span>.
							</button>
							<div class="reg__confirm-none" v-if="confirm.suppot > 0">
								Не пришел код — <a href="">напишите нам</a> в службу
								поддержки.
							</div>
						</div>
					</div>
				</form>

				<div class="reg__main" v-if="selected_step == 2">
					<div class="loader__wrap" v-if="loading">
						<div class="loader">
							<div class="shadow"></div>
							<div class="box"></div>
						</div>
					</div>
					<div class="reg__hdr">
						<div class="reg__title">
							2 шаг <span>из 4.</span><br />
							Создайте бота
						</div>
					</div>
					<div class="reg__box">
						<div class="reg__info">
							<p>
								Для того, чтобы внедрить наш сервис в ваш Telegram, нужно
								выполнить несколько не сложных действий. Ниже идет текстовая
								инструкция. Также на этой странице вы можете воспользоваться
								видео инструкцией.
							</p>
							<ol>
								<li>
									Для начала, вам нужно перейти в BotFather — это основной
									инструмент для создания ботов и управления ими. Перейти в
									<a href="https://t.me/BotFather" target="_blank">BotFather</a>
								</li>
								<li>
									Далее кликните по кнопке «Меню» в боте и выберите
									<span>/newbot</span> .
									Введите название вашего бота (название вашей компании
									латинскими буквами) и нажмите «Отправить».
								</li>
								<li>
									Следующим шагом придумайте боту Никнейм. Он должен быть
									уникальным и заканчиваться на "<span>bot</span>" (например,
									nickname_bot).
								</li>
								<li>
									После подтверждения Никнейма, вам придет сообщение, в котором
									будет ссылка на созданного бота (пример ссылки,
									t.me/nickname_bot) и API ключ (пример API ключа,
									5099480432:AAFpoDm Tzj8pnISaU9COPmjKfJ4h4qD9Mhk) для обращения
									к нему.
								</li>
								<li>
									Теперь нужно настроить приватность для вашего бота. Введите
									команду <span>/mybots</span> и выберите бота, которого вы
									только что
									создали. Нажмите кнопку "<span>Bot settings</span>". Затем
									нажмите кнопку
									"<span>Group privacy</span>" и нажмите на кнопку "<span>Turn
										off</span>",
									чтобы
									отобразилось "<span>Turn on</span>".
								</li>
								<li>
									Введите в поле ниже API ключ, который вы получили выше
									(пример, 5099480432:AAFpoDmTzj8pnISaU9COPmjKfJ4h4qD9Mhk)
								</li>
							</ol>
							<div class="field" :class="{error: api_key.error}">
								<input type="text" v-model="api_key.value" @focus="clearError('api_key')" />
								<label class="label" :class="{active: api_key.value != ''}">
									Введите API ключ
								</label>
								<div class="error-text" v-if="api_key.error">
									{{api_key.error}}
								</div>
							</div>
							<p class="support">
								Если у вас возникнут сложности, <a href="https://t.me/just_work_support"
									target="_blank">пишите
									нам
								</a> в службу поддержки.
							</p>
						</div>
						<div class="reg__instruction">
							<div class="reg__video">
								<video src="/img/video_1.mp4" poster="/img/poster.png" controls
									preload="auto"></video>
							</div>
							<p>Видео-инструкция</p>
						</div>
					</div>
					<div class="reg__footer">
						<button class="reg__action" @click.prevent="nextStep">
							Продолжить
						</button>
					</div>
				</div>

				<div class="reg__main" v-if="selected_step == 3">
					<div class="loader__wrap" v-if="loading">
						<div class="loader">
							<div class="shadow"></div>
							<div class="box"></div>
						</div>
					</div>
					<div class="reg__hdr">
						<div class="reg__title">
							3 шаг <span>из 4.</span><br />
							Привяжите бота к группе
						</div>
					</div>
					<div class="reg__box">
						<div class="reg__info">
							<p>
								На этом шаге вы можете создать новую группу и привязать бота к
								ней. Либо привязать бота к уже существующей группе.
							</p>
							<ol>
								<li>
									Для создания новой группы в Telegram, выберите в меню
									«<span>Создать группу</span>». Пригласите бота, которого вы
									создали на
									предыдущем
									шаге (введите его название). Придумайте название группы
									(например, название вашей компании) и нажмите
									«<span>Создать</span>».
								</li>
								<li>
									Для добавления бота в уже существующую группу, нужно зайти в
									настройки группы и нажать на кнопку «<span>Добавить</span>».
									Ввести
									название бота и нажать «<span>Добавить</span>».
								</li>
								<li>
									Далее нажмите на иконку (картинку) группы и на кнопку
									«<span>Изменить</span>» (Изм.). Выберите пункт
									«<span>Управление группой</span>».
									В открывшемся окне выберите пункт «<span>Пригласительные
										ссылки</span>».
									Нажмите на кнопку «<span>Скопировать ссылку</span>» и вставьте
									ссылку в
									поле ниже на этой странице.
								</li>
							</ol>
							<div class="field" :class="{error: group.error}">
								<input type="text" v-model="group.value" @focus="clearError('group')" />
								<label class="label" :class="{active: group.value != ''}">
									Вставьте ссылку на вашу группу
								</label>
								<div class="error-text" v-if="group.error">
									{{group.error}}
								</div>
							</div>
							<p class="support">
								Если у вас возникнут сложности, <a href="https://t.me/just_work_support"
									target="_blank">пишите
									нам
								</a> в службу поддержки.
							</p>
						</div>
						<div class="reg__instruction">
							<div class="reg__video">
								<video src="/img/video_1.mp4" poster="/img/poster.png" controls
									preload="auto"></video>
							</div>
							<p>Видео-инструкция</p>
						</div>
					</div>
					<div class="reg__footer">
						<button class="reg__action" @click.prevent="lastStep">
							Продолжить
						</button>
					</div>
				</div>

				<div class="reg__main" v-if="selected_step == 4">
					<div class="loader__wrap" v-if="loading">
						<div class="loader">
							<div class="shadow"></div>
							<div class="box"></div>
						</div>
					</div>
					<div class="reg__hdr">
						<div class="reg__title">
							4 шаг <span>из 4.</span><br />
							Запустите бота
						</div>
					</div>
					<div class="reg__box">
						<div class="reg__info">
							<ol>
								<li>
									Проверьте, установлен ли у вас никнейм в Telegram. Зайдите в
									ваш аккаунт в Telegram. Перейдите в «<span>Настройки</span>»,
									далее в
									«<span>Изменить профиль</span>» (Изм.). В профиле проверьте
									«<span>Имя пользователя</span>».
								</li>
								<li>
									Если «Имя пользователя» не заполнено, то нажмите на данный
									пункт, введите и зафиксируйте свой уникальный никнейм
									(например, imya_familiya).
								</li>
								<li>
									После проверки или установки имени пользователя, скопируйте
									данный код <mark>{{code}}</mark> в поле текстового ввода в
									боте, который вы
									создали на первом шаге, и нажмите кнопку «Ввод».
								</li>
								<li>
									После ввода кода, вас автоматически перебросит с этой страницы
									в личный кабинет. В нем вам нужно будет настроить работу
									сервиса.
								</li>
							</ol>
							<p>На этом регистрация завершена. Приятной работы!</p>
							<p class="support">
								Если у вас возникнут сложности, <a href="https://t.me/just_work_support"
									target="_blank">пишите
									нам
								</a> в службу поддержки.
							</p>
						</div>
						<div class="reg__instruction">
							<div class="reg__video">
								<video src="/img/step4m.mp4" poster="/img/poster.png" controls
									preload="auto"></video>
							</div>
							<p>Видео-инструкция</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>

	//= template/script.html
</body>

</html>